body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

.field {
  position: relative;
  width: 100vw;
  height: 70vh;
  border: 10px solid black;
}

.bg {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 4s linear;
}

.boy {
  position: absolute;
  top: calc(70vh - 210px);
  left: calc(50vw - 200px);
  width: 200px;
}

.btns {
}
